body {
  margin: 0;
  padding: 0;
}

:root {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 100vh;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  margin-top: 22px;
  width: 330px;
  height: 330px;
  margin-left: 37%;

}

.appTitle {
  text-align: center;
  color: #000000;
}

p, h2 {
  color: #ffffff;

}

p, h1, h2 {
  font-family: sans-serif;
}

button {
  width: 50px;
  height: 30px;
  font-size: 18px;
}

p {
  font-size: 17px;
}

.buttonContainer, .scoreInfo {
  background-color: #222222;
  padding: 2px;
}